
src/__pycache__/
src/utils/__pycache__/
src/.pytest_cache/
src/.vscode
src/temp/
.vscode/
.DS_Store
src/batch_jobs/csc_examples
src/batch_jobs/nw_noises_test/nw_noises.sh
src/batch_jobs/nw_noises_test/templates.txt
src/outputs/
src/server/
src/graphs/hel.graphml
src/graphs/hel_u.graphml
src/graphs/hel_u_g.graphml
src/graphs/hel_u_g_n.graphml
src/graphs/hel_u_g_n_s.graphml
src/graphs/hel_u_g_n_c_s.graphml
src/data/input/T06_tma_e_12_TOL2008.csv
src/data/input/r250m*
src/data/input/T06_tma_e_TOL2008_2016.csv
src/data/input/T06_tma_e_TOL2008_2016_filtered.csv
src/data/input/T06_tma_e_TOL2008_2016_hel.csv
src/graphs/hel_u_g_n_f.graphml
src/graphs/hel_u_g_n_f_s.graphml
src/graphs/hel_u_g_n2_f_s.graphml
qgis/vis_debug.qgz.qto3settings
src/data/data.gpkg
